<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Fashion SizzleTv</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>


    <div class="segmentheading-maindiv">
        <!-- ==============four segment's content start================== -->
        <div [ngSwitch]="category" class="segmentcontent-maindiv">
            <div id="search-form" class="search">
                <form (ngSubmit)="findVideos($event)" class="search-form">
                    <ion-item>
                        <ion-input type="text" placeholder="Search" [(ngModel)]="search.params" name="search"></ion-input>
                        <button type="submit" ion-button icon-only clear item-right class="searchbtn">
                                <ion-icon name="search"></ion-icon>
                        </button>
                    </ion-item>
                </form>
            </div>
            <!-- uploaded segment content start -->
            <div *ngSwitchCase="'Uploaded'" class="segmentcontentback">
                <div>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div id="results">
                                <div class="card-background-page">

                                    <ion-card *ngFor="let video of videos">
                                        <div class="playimg">
                                            <img src="{{video.snippet.thumbnails.high.url}}" />
                                            <button ion-button color="primary" class="playbtn" (click)="playVideo(video.id.videoId)"><ion-icon name="play"></ion-icon></button>
                                        </div>
                                        <ion-card-content>
                                            <ion-card-title class="textalignleft">
                                                {{video.snippet.title}}
                                            </ion-card-title>
                                            <p class="textalignleft">
                                                {{video.snippet.description}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>

                                    <!-- infinite scroll -->
                                    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                                    </ion-infinite-scroll>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- uploaded segment content end -->

            <!-- live segment content start -->
            <div *ngSwitchCase="'Live'" class="segmentcontentback">
                <div class="no-videoavailabe">
                <svg version="1.1" id="youtube_fashion" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="40px" height="40px" viewBox="0 0 96.875 96.875" style="enable-background:new 0 0 96.875 96.875;" xml:space="preserve">
                    <g>
                        <path d="M95.201,25.538c-1.186-5.152-5.4-8.953-10.473-9.52c-12.013-1.341-24.172-1.348-36.275-1.341
		c-12.105-0.007-24.266,0-36.279,1.341c-5.07,0.567-9.281,4.368-10.467,9.52C0.019,32.875,0,40.884,0,48.438
		C0,55.992,0,64,1.688,71.336c1.184,5.151,5.396,8.952,10.469,9.52c12.012,1.342,24.172,1.349,36.277,1.342
		c12.107,0.007,24.264,0,36.275-1.342c5.07-0.567,9.285-4.368,10.471-9.52c1.689-7.337,1.695-15.345,1.695-22.898
		C96.875,40.884,96.889,32.875,95.201,25.538z M35.936,63.474c0-10.716,0-21.32,0-32.037c10.267,5.357,20.466,10.678,30.798,16.068
		C56.434,52.847,46.23,58.136,35.936,63.474z" />
                    </g>
                </svg>

                <h3 class="text-center noevent">No live event</h3>
                </div>
            </div>
            <!-- live segment content end -->

            <!-- Completed segment content start -->
            <div *ngSwitchCase="'Completed'" class="segmentcontentback">
                <div>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div id="results">
                                <div class="card-background-page">

                                    <ion-card *ngFor="let video of completedvideos">
                                        <div class="playimg">
                                            <img src="{{video.snippet.thumbnails.high.url}}" />
                                            <button ion-button color="primary" class="playbtn" (click)="playVideo(video.id.videoId)"><ion-icon name="play"></ion-icon></button>
                                        </div>
                                        <ion-card-content>
                                            <ion-card-title class="textalignleft">
                                                {{video.snippet.title}}
                                            </ion-card-title>
                                            <p class="textalignleft">
                                                {{video.snippet.description}}
                                            </p>
                                        </ion-card-content>
                                    </ion-card>

                                    <!-- infinite scroll -->
                                    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                                    </ion-infinite-scroll>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Completed segment content end -->

        </div>
        <!--=============== four segment's content end ============-->
        <!-- ==============four segment's header start ====================-->
        <ion-toolbar class="segment-heading">
            <ion-segment [(ngModel)]="category" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="Uploaded">
                    Uploaded
                </ion-segment-button>
                <ion-segment-button value="Live">
                    Live
                </ion-segment-button>
                <ion-segment-button value="Completed">
                    Completed
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>

        <!-- ==============four segment's header end ====================-->

    </div>
    <!-- custom tab end-->


</ion-content>